* {
  padding: 0;
  margin: 0;
  pointer-events: all;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur 20px;
  color: #f5f5f7;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-family: sans-serif;
  height: 45px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.navbox {
  height: 20px;
  width: 20px;
}
#navbin {
  height: 16px;
  width: 17px;
}
.navbar2 {
  padding-top: 15px;
  vertical-align: middle;
  justify-content: space-evenly;
  color: #f5f5f7;
  opacity: 0.8;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
#navbar3 {
  padding-top: 14px;
  color: rgb(194, 194, 194);
}
.navpadding {
  padding-right: 37px;
  letter-spacing: 0.5px;
}
#navbar4 {
  padding-top: 14px;
}

#navlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfd;
  padding-top: 40px;
}

#navimg {
  padding-left: 3px;
  height: 35px;
}

#navfont {
  font-size: 35px;
}

#navlink {
  font-size: 14px;
  text-decoration: none;
  padding-left: 15px;
  color: #06c;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 400;
}
#navlink:hover {
  text-decoration: underline;
}

#navhead {
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #1d1d1f;
  font-size: 54px;
  line-height: 1.07143;
  font-weight: 500;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-style: normal;
}

#navsubhead {
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 380;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 6px;
}

.head {
  padding-top: 70px;
  background-image: url("https://www.apple.com/v/home/an/images/heroes/iphone-13-pro/hero_iphone13pro_avail__iy77cld0zwii_medium_2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  width: 100%;
  height: 510px;
  background-color: #fbfbfd;
}
.navlink2 {
  display: flex;
  justify-content: center;
}
.navlink2 a {
  font-size: 21px;
  text-decoration: none;
  color: #06c;
  font-weight: 400;
  display: inline-block;
  line-height: 1.381;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 0.65em;
}

.navlink4 {
  font-size: 21px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  display: inline-block;
  line-height: 1.381;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 0.65em;
}
.navlink4:hover {
  text-decoration: underline;
}
.navlink2 a:hover {
  text-decoration: underline;
}

.navtop {
  padding: 20px;
}

.pagetwo {
  justify-content: center;
  text-align: center;
  flex-grow: 0;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial bold", sans-serif;
}

.navpage2 {
  background-image: url("https://www.apple.com/v/home/an/images/heroes/iphone-se/hero_iphonese_avail__eg8srhcnpo66_medium_2x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 610px;
  background-size: 90%;
  background-color: #fbfbfd;
}

#secondpage {
  font-size: 19px;
  font-weight: 500;
  padding-top: 30px;
}

#secondpage2 {
  font-size: 54px;
  font-weight: 500;
  letter-spacing: 0.0001em;
}

#secondpage3 {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.002em;
}

.page3 {
  background-image: url("https://www.apple.com/v/home/an/images/heroes/tv-plus-oscar-coda/hero_coda__cv3jny7jpe6a_small_2x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 588px;
  background-color: #fbfbfd;
  color: #fff;
  flex-direction: column;
  display: flex;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.012em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

#coda1 {
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 500;
  letter-spacing: 0.011em;
  margin-top: 50px;
}

#coda2 {
  font-size: 64px;
  line-height: 1.19048;
  font-weight: 300;
  letter-spacing: 0.01em;
  padding-top: 2px;
}

#coda3 {
  font-size: 27px;
  line-height: 1.10722;
  font-weight: 500;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-transform: uppercase;
  max-width: 610px;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 1;
  margin-top: 310px;
}

#coda4 {
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 1;
  font-size: 27px;
  line-height: 1.10722;
  font-weight: 500;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-transform: uppercase;
  max-width: 610px;
}

#coda5 {
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 2px;
}

.page4 {
  background-color: #fbfbfd;
  width: 50%;
  height: 100px;
  float: left;
  background-image: url("https://www.apple.com/v/home/an/images/promos/studio-display/promo_studiodisplay_avail__d1cx9j73ooq6_large_2x.jpg");
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  transform: translate(-55%);
  left: calc(30% + 0px);
  text-align: center;
  overflow: hidden;
}
.pages4 {
  margin-left: 50%;
  background-image: url("https://www.apple.com/v/home/an/images/promos/mac-studio/promo_macstudio_avail__byhwkp0o4gty_large_2x.jpg");
  height: 530px;
  width: 50%;
  overflow: hidden;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% + 0px);
  transform: translatex(-70%);
  display: block;
  margin-left: 500px;
  text-align: center;
  background-position: -250px;
}

.linkpg4 {
  font-size: 17px;
  text-decoration: none;
  color: #06c;
  font-weight: 400;
  display: inline-block;
  line-height: 1.381;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 0.65em;
}
.box1 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.001em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 53px;
  color: #1d1d1f;
  display: block;
}

.box12 {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.001em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 4px;
  color: #1d1d1f;
}

.box2 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.001em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 153px;
  color: #1d1d1f;
}

.box21 {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.001em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 4px;
  color: #1d1d1f;
}
.box3 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.001em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 43px;
  color: #fbfbfd;
}

.box31 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.001em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 65px;
  color: #1d1d1f;
}

.pagesfive {
  width: 50%;
  height: 100px;
  float: left;
  background-image: url("https://www.apple.com/v/home/an/images/promos/ipad-air/promo_ipadair_avail__ferd4bfpcdm6_large_2x.jpg");
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  transform: translate(-55%);
  left: calc(27% + 0px);
  text-align: center;
  top: calc(354% + 0px);
}

.pages5 {
  background-image: url("https://www.apple.com/v/home/an/images/promos/iphone-13/promo_iphone13_avail__frc36u35m0ii_large_2x.jpg");
  height: 580px;
  width: 50%;
  overflow: hidden;
  background-size: 1266px 581px;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% + 0px);
  transform: translatex(-70%);
  display: block;
  margin-left: 500px;
  text-align: center;
  background-position: -270px;
  top: calc(295% + 4px);
  margin-top: 410px;
}

.lastpage {
  font-size: 38px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 35px;
}

.lastpage2 {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#watch {
  background-image: url("https://www.apple.com/v/home/an/images/promos/watch-series-7/promo_watch_lte__djeaso7ukrsm_large_2x.jpg");
  width: 50%;
  height: 100px;
  float: left;
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  transform: translate(-55%);
  left: calc(30% + 0px);
  text-align: center;
  top: calc(437% + 0px);
}

#card {
  background-image: url("https://www.apple.com/v/home/an/images/promos/apple-card/tile__cauwwcyyn9hy_large_2x.jpg");
  height: 580px;
  width: 50%;
  overflow: hidden;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  position: absolute;
  transform: translatex(-70%);
  display: block;
  text-align: center;
  background-position: -250px;
  top: calc(436% + 5px);
  left: calc(83% + 0px);
}

.footer {
  width: 100%;
  background-color: #f5f5f7;
  color: #6e6e73;
  text-align: center;
  font-size: 1em;
  padding-top: 15px;
  top: calc(520% + 5px);
  position: absolute;
}

#footer1 {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  display: inline;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-bottom: 0.8em;
}

.listone {
  display: table-cell;
  list-style: none;
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-right: 20px;
  margin-bottom: 0.8em;
}
